@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap'); /* FONT FAMILY TITRE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #6B3329;
  --color-grey : #e2e2e1;
  --color-teal : #156173;
  --color-brown-light : #d2c3b0;
  --color-orange : #b8832c;
  --font-family-title: 'IBM Plex Mono', monospace;
}

/* RESET DU BODY  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--color-teal);
}

/* LOGO  */
#boxLogo {
  margin: 0;
  background-color: var(--color-brown-light);
  margin-left: 2rem;
}

#logo {
  width: 125px;
}

/* PARTIE BARRE DE NAVIGATION  */
#page-header {
  width: 100%;
  height: 5.5vh;
  background-color: var(--color-grey);
  opacity: 95%;
  position: fixed;
  z-index: 1;
}

#page-header p {
  color: var(--color-teal);
  margin: 0;
}

header {
  height: 80vh;
  background-image: url('/public/img/img_bg1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  margin-right: 3rem;
}

nav ul li {
  margin: 0 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-grey);
  background-color: var(--color-teal);
  padding: 0.3rem 0.8rem;
}

nav ul li a:hover {
  color: var(--color-orange);
}

/* // ZONE DE FLOATAISON */
#top-page {
  display: flex;
  flex-direction: column;
  opacity: 80%;
  position: absolute;
  bottom: 35%;
  left: 25%;
  right: 25%;
  margin: auto;
  background-color: var(--color-grey);
  z-index: 0;
}

#cta {
  display: flex;
  text-align: right;
  width: 200px;
  margin-bottom: 1rem;
  justify-content: center;
  place-self: center;
  padding: 20px 40px;
  margin: 0;
}

#cta a, button {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-grey);
  margin: 0;
  border: none;
  cursor: pointer;
}

#cta a, button:hover {
  color: var(--color-orange);
  background-color: var(--color-teal);
}


#top-page #name {
  color: var(--color-primary);
}

#top-page h1 {
  background-color: var(--color-grey);
  text-align: left;
  color: var(--color-teal);
  width: 60%;
  margin: auto;
  text-align-last: end;
  margin-bottom: 1.5rem;
}

/* Partie : À Propos */
article {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-grey);
  margin-top: 2rem;
}

#about {
  width: 30%;
  background-color: #d2c3b0;
  place-self: center;
  opacity: 90%;
}

#about h2 {
  text-align: center;
}

#about p {
  width: 70%;
  text-align: center;
  color: white;
  margin: 1rem auto;
  color: var(--color-primary);
}

#img-bg {
  width: 40%;
  background-image: url('/public/img/img_bg2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-grey);
  margin: 0;
}

/* PARTIE : PHOTOS */
#boxPics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem auto;
}

#mid-page {
  width: 100%;
  background-color: var(--color-orangee);
}

#mid-page h2 {
  text-align: center;
  margin: 1rem auto;
}

#mid-page ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

#mid-page ul li {
  list-style: none;
}

#mid-page a {
  text-decoration: none;
  color: var(--color-primary);
  margin: auto;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

/* PARTIE : CAROUSEL  */



#carousel {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  background-color: var(--color-brown-light);
}

#previous {
  margin: auto;
  padding: 0.5rem 0.8rem;
  color: var(--color-grey);
  background-color: var(--color-orange);
  z-index: 1;
}

#next {
  margin: auto;
  padding: 0.5rem 0.8rem;
  color: var(--color-grey);
  background-color: var(--color-orange);
  z-index: 1;
}

.imgCarousel {
  background-image: url('/public/img/chantier1_1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 55vw;
  height: 50vh;
  /* animation: image ease 2s; */
}

/* @keyframes image {
  from {
    transform: translate(-50%);
  }
  to {
    transform: translate(0%);
  }
} */

/* PARTIE : FOOTER  */
/* Formulaire  */
footer {
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  background-color: var(--color-brown-light);
}

footer h2 {
  width: 100%;
  text-align: center;
}

#contact {
  color: var(--color-orange);
  background-color: var(--color-grey);
  width: 25%;
  padding-bottom: 1rem;
}

#contact h3 {
  text-align: left;
  margin-left: 5%;
  margin: 0.5rem auto;
}

#contact a {
  margin-left: 5%;
  margin: auto;
}

footer section {
  display: flex;
  flex-direction: column;
  margin: auto;
}

footer button {
  margin: 0.3rem auto;
  width: 150px;
  color: var(--color-grey);
  background-color: var(--color-teal);
  border: none;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

footer button:hover {
  background-color: var(--color-orange);
}

/* Footer : Coordonnées */
#footer-right {
  display: flex;
  flex-direction: column;
}

#footer-right img {
  width: 150px;
}

#footer-right div:nth-child(3) {
  display: block;
  width: 100%;
}

#boxContact {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  justify-content: center;
  font-size: 14px;
}

#boxContact span img {
  width: 18px;
}

pre {
  color: var(--color-teal);
}
