@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap'); /* FONT FAMILY TITRE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #6B3329;
  --color-grey : #e2e2e1;
  --color-teal : #156173;
  --color-orangee : #b8832c;
  --font-family-title: 'IBM Plex Mono', monospace;
}

/* RESET DU BODY  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: var(--font-family-title);
  font-weight: 700;
  color: var(--color-teal);
}

/* LOGO  */
#boxLogo {
  margin: 0;
  background-color: var(--color-grey);
  margin-left: 2rem;
}

#logo {
  width: 125px;
}

/* PARTIE BARRE DE NAVIGATION  */

header {
  height: 80vh;
  background-image: url(/public/img/img_bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--color-primary); */
  align-items: center;
  /* background-image: url(/public/img/Logo\ blanc-02.png); */
  /* background-size: 6rem, contain;
  background-position: 9rem;
  background-repeat: no-repeat; */
}

nav ul {
  display: flex;
  margin-right: 3rem;
}

nav ul li {
  margin: 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-grey);
  padding: 0.3rem 0.8rem;
  border: 1px solid var(--color-grey);
}

nav ul li a:hover {
  color: var(--color-grey);
  background-color: var(--color-orangee);
}

/* // ZONE DE FLOATAISON */
#top-page {
  /* height: 80vh;
  background-image: url(/public/img/img_bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  opacity: 80%;
  background-color: var(--color-grey);
  /* flex-wrap: wrap; */
  /* background: scroll; */
  position: absolute;
  bottom: 35%;
  left: 25%;
  margin: auto;
}

#top-page #name {
  color: var(--color-primary);
}

#top-page h1 {
  background-color: var(--color-grey);
  text-align: left;
  color: var(--color-teal);
  width: 50%;
  margin: auto;
  text-align-last: end;
}

/* Partie : À Propos */
article {
  display: flex;
  background-color: var(--color-grey);
  margin-top: 2rem;
}

#about {
  width: 50%;
  background-color: #d2c3b0;
  place-self: center;
}

#about h2 {
  text-align: center;
}

#about p {
  text-align: center;
  color: white;
}

#img-bg {
  width: 50%;
  background-image: url(/public/img/img_bg2.jpg);
  background-size: contain;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-grey);
  margin: 0;
}

/* PARTIE : PHOTOS */
#boxPics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* #mid-page-left {
  width: 50%;
  margin: 0 auto;
  background-color: var(--color-grey);
}

#mid-page-left h2, p {
  width: 80%;
  text-align: center;
  margin: 1rem auto;
}

#mid-page-left p {
  color: var(--color-primary);
} */

#mid-page {
  width: 100%;
  background-color: var(--color-orangee);
}

#mid-page h2 {
  text-align: center;
  margin: 1rem auto;
}

#mid-page ul {
  display: flex;
  justify-content: space-evenly;
}

#mid-page ul li {
  list-style: none;
}

#mid-page a {
  text-decoration: none;
  color: var(--color-grey);
  margin: auto;
  text-align: center;
}

/* PARTIE : FOOTER  */
/* Formulaire  */
footer {
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  background-color: var(--color-primary);
}

footer h2 {
  width: 100%;
  text-align: center;
}

footer section {
  display: flex;
  flex-direction: row;
  margin: auto;
}

footer section form {
  display: flex;
  flex-direction: column;
  color: var(--color-grey);
}

textarea {
  margin: 1rem auto;
}

/* Footer : Coordonnées */
#footer-right {
  display: flex;
  flex-direction: column;
}

/* #footer-right figure { */
  /* margin: 0; */
/* } */

#footer-right img {
  width: 150px;
}

#footer-right div:nth-child(3) {
  display: block;
  width: 100%;
  background-color: var(--color-grey);
}

#boxContact {
  display: flex;
  flex-direction: column;
}





