#about {
  width: 50%;
  background-color: #d2c3b0;
  place-self: center;
  opacity: 90%;
}

#about p {
  width: 70%;
  text-align: center;
  color: white;
  margin: 1rem auto;
  color: var(--color-primary);
}

#cta {
  display: none;
}

#top-page h1 {
  font-size: 22px;
}

@media screen and (max-width: 805px) {
  #about {
    font-size: 14px;
  }

  #img-bg {
    width: 60%;
  }

  #carousel {
    flex-wrap: wrap;
    background-position: center;
  }

  .imgCarousel {
    width: 100%;
    order:-1;
  }

  #next, #previous {
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 710px) {
  body {
    font-size: small;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    margin: 1px;
  }
}

@media screen and (max-width: 650px) {
  #about p {
    width: 95%;
    margin: 0.5rem;
    text-align: left;
  }

  .textChantier {
    margin: 0.3rem 1rem;
  }

  footer button {
    width: 100px;
  }
}

@media screen and (max-width: 540px) {
  #page-header {
    background-color: transparent;
  }

  nav ul {
    flex-direction: column;
    margin: 0.5rem;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  #about {
    width: 100%;
  }

  #top-page {
    width: 60%;
  }

  #top-page h1 {
    display: block;
    width: 50%;
    margin: auto;
    font-size: 18px;
  }

  #mid-page a {
    font-size: 12px;
  }

  #carousel {
    width: 100%;
  }

  .imgCarousel {
    background-size: 100%, contain;
    height: 50vh;
  }


  footer {
    flex-direction: column;
  }

  footer #contact {
    width: 90%;
    margin-top: 1rem;
  }
}
