@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
/* FONT FAMILY TITRE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #6B3329;
  --color-grey: #e2e2e1;
  --color-teal: #156173;
  --color-brown-light: #d2c3b0;
  --color-orange: #b8832c;
  --color-white: #ffffff;
  --font-family-title: 'IBM Plex Mono', monospace;
}

/* RESET DU BODY  */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: white;
}

strong {
  font-weight: unset;
}

#spaceAbout,
#spacePics,
#spaceContact {
  height: 10vh;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-orange);
  margin: 0;
}

h2,
h3 {
  color: var(--color-teal);
  font-size: 3rem;
  margin: 0;
}

h3 {
  margin: 20px 0;
}


/* Header */
header {
  height: 100vh;
  background-image: url(../img/img_bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/* PARTIE BARRE DE NAVIGATION  */
#page-header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: var(--color-white);
  z-index: 1;
  opacity: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: inherit;
  padding: 0 2rem;
}

ul {
  display: flex;
  margin: 0;
  font-weight: bolder;
  font-size: 1.2rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  list-style: none;
  transition: 0.3s ease-in-out;
}

li:hover {
  transform: translate(-3px, 3px);
  box-shadow: 3px -3px 1px black;
  background-color: #F9F9F9;
  transition: 0.1s ease-in-out;

}

li:active {
  animation: click 0.1s linear forwards;

}

@keyframes click {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(3px, -3px);
    box-shadow: unset;
  }
}

li a {
  text-decoration: none;
<<<<<<< refs/remotes/PierreYEM/Working
  color: var(--color-orange);
  padding: 0.3rem 0.8rem;
}

li a:hover {
  color: var(--color-teal);
=======
  color: var(--color-primary);
  background-color: var(--color-grey);
  padding: 0.3rem 0.8rem;
}

nav ul li a:hover {
  background-color: var(--color-grey);
  color: var(--color-orange);
>>>>>>> Update Mentions
}


#title {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF88;
  padding: 3rem;
  gap: 20px;
}



/* LOGO  */
#boxLogo {
  margin: 0;
  display: unset;
  width: 10vw;
}

#logo {
  width: inherit;
  background-color: var(--color-brown-light);
}


/* // ZONE DE FLOATAISON */

#cta {
  position: absolute;
  top: 75%;

  width: 100%;
  display: flex;
  justify-content: center;

  text-align: right;

}

#ctaButton {
  height: 6vh;
  font-size: xx-large;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-grey);
  transition: 0.3s ease-in-out;
}

#ctaButton:hover {
  color: var(--color-orange);
  background-color: var(--color-teal);
  transition: 0.3s ease-in-out;

}

#ctaButton a,
button {
  text-decoration: none;
  margin: 0;
  border: none;
}


/* Partie : À Propos */

#activité {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey);

}

#activité p {
  text-align: start;
  display: block;

}


#aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
  gap: 40px;
  width: 80vw;
}

[class^="about"] {
  height: 30vh;
  display: flex;
  width: 50vw;
  background-color: #F7F7F7;
  align-self: flex-start;
  overflow-y: hidden;
}



.aboutMid {
  align-self: center;
}

.aboutEnd {
  align-self: flex-end;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: var(--color-primary);
}

.text:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.text p {
  width: 90%;
  text-indent: 40px;
}


figure {
  display: flex;
  position: relative;
  height: inherit;
  width: 50%;
  margin: 0;
}

figure img {
  max-width: 100%;
}


/* PARTIE : PHOTOS */
#boxPics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
}

#mid-page {
  width: 100%;
  background-color: var(--color-orangee);
}



#mid-page ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}


/* PARTIE : CAROUSEL  */
.site {
  transition: 0.5s;
  padding: 0 10px;
  color: var(--color-orange);

}

.site:hover {
  background-color: #F7F7F7FF;
  transform: translate(-3px, 3px);
  box-shadow: 3px -3px 1px black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #156173;
}

.site:active {
  transform: translate(0, 0);
  transition: 0s;
  box-shadow: unset;
}

#activeImg {
  position: relative;
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: center;
}

[data-id^="site"] {
  max-width: 100%;
  transition: 0.3s;
  box-shadow: 0 0 15px black;

}



.left,
.right {
  position: absolute;
  top: 50%;
  background-color: white;
  opacity: 0.75;
}

.right {
  right: 5%;
  transition: 0.5s;
}

.left {
  left: 5%;
  transition: 0.5s;
}


.right:hover,
.left:hover {
  scale: 1.3;
  transition: 0.5s;
  background-color: #F7F7F7;
  opacity: 1;
}

.right:active,
.left:active {
  scale: 1;
  transition: 0s;
  background-color: unset;

}

.fadeIn {
  transition: 0.3s;
  opacity: 0
}


#carrousel {
  display: flex;
  width: 80%;

  margin: 50px 0;
}



/* PARTIE : FOOTER  */
/* Formulaire  */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 88vh;
  background-color: var(--color-brown-light);
  flex-wrap: wrap;
}

input {
  border: unset;
  width: 40%;
  height: 100%;
  justify-self: center;
}

fieldset {
  height: inherit;
}

form {
  height: 100%;
  width: 46%;

  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-around;
  align-items: center;
}

legend {
  text-align: top;
  display: flex;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 0.9rem;
}

.label input {
  height: auto;
}

select,
textarea {
  width: 40%;
}

textarea {
  height: 5vh;
}

.form {
  display: flex;
  height: 5%;
  width: 60%;
  justify-content: space-between;
}



#form {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
}

#logoblc {
  width: 50%;
  height: 100%;
}

#logoblc img {
  max-height: 100%;
}

[type="submit"] {
  width: 30%;
  height: 5vh;
  font-size: 1.5rem;
  color: var(--color-orange);
  background-color: var(--color-white);
  align-self: center;
}

[type="submit"]:hover {
  color: var(--color-teal);
  transform: translate(-3px, 3px);
  box-shadow: 3px -3px 1px black;
  transition: 0.1s ease-in-out;

}

<<<<<<< refs/remotes/PierreYEM/Working
[type="submit"]:active {
  animation: click 0.1s linear forwards;
=======
#mention {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  background-color: var(--color-teal);
}

#mention a {
  text-align: center;
  color: var(--color-grey);
  margin-right: 1rem;
}

#mention p {
  margin: 0;
  color: var(--color-brown-light);
  margin-right: 1rem;
>>>>>>> Update Mentions
}